body{
    height: 876px;
    width: 458px;
    background-color: black;
    margin: 0 auto;
}

.banner{
    margin-left: 35px;
    z-index: -1;
}

.centro{
    position: absolute;
    text-align: center;
    padding: 10px;
    color: white;
    top: 86%;
    left: 28%;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}

a{
    position: absolute;
    text-align: center;
    padding: 10px;
    color: white;
    top: 90%;
    left: 36%;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}